{% extends 'referendaPages/main.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="referendum_card">
                <div class="d-flex justify-content-center">
                    <h3 id="referendum-title">Create Referendum</h3>
                </div>

                <form method="post" class="referendum-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="l-bold" for="title">Title:</label>
                        <input type="text" name="title" id="title" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="l-bold" for="description">Description:</label>
                        <textarea name="description" id="description" class="form-control" rows="4"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="l-bold" for="date_available">Starting Date:</label>
                        <input type="date" name="date_available" id="date_available" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="l-bold" for="date_expired">Expiry Date:</label>
                        <input type="date" name="date_expired" id="date_expired" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
